/* General rules */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #2cc0d7;
}
body{
    font-family: 'Varela Round', sans-serif;
}
.center-bloc{
    width: 60%;
    margin: 15px auto;
}

/* Header rules */

/* Main rules */
.row{
    color: white;
    border: solid orange 5px;
    margin-bottom: 50px;
}
.col{
    float: left;
    width: 33.33%;
    padding: 0 15;

}
.card{
    background-color: #0f0e17;
    width: 100%;
    display: inline-block;
}
img{
    width: 100px;
    height: 100px;
    float: left;   
    margin-right: 15px;
}
.item-descr span, .item-descr a, .item-descr h3{
    display: block;
    padding-top: 8px;
}
.item-descr{
    float: left;
    margin-right: 20px;
}
.clearfix:after{
    display: table;
    content: '';
    clear: both;
}
/* DEBUG rules */




